@font-face {font-family: "Geometria";src: url("../fonts/Geometria.otf");}
@font-face {font-family: "Geometria Bold";src: url("../fonts/Geometria-Bold.otf");}
@font-face {font-family: "Geometria Italic";src: url("../fonts/Geometria-Italic.otf");}
@font-face {font-family: "Geometria Medium";src: url("../fonts/Geometria-Medium.otf");}
@font-face {font-family: "Geometria Medium Italic";src: url("../fonts/Geometria-MediumItalic.otf");}
@font-face {font-family: "Geometria Light";src: url("../fonts/Geometria-Light.otf");}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Geometria", sans-serif;
    color: #333333;
}

a, a:hover, a:active {
    outline: none;
    border: none;
}
ul li {
     display: inline-block;
}
.clearfix {
    clear: both;
}
.block-content {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
}
.title {
    font-size: 60px;
    color: #29464a;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow-x: hidden;
}

.block-wrap {
    width: 100%;
    padding: 7.5% 0;
}

/*         header         */
.header {
    background: rgba(255, 255, 255, 0.9);
    height: auto;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75);
    padding: 0;
}
.logo {
    font-family: "Geometria Bold", sans-serif;
    font-size: 48px;
    color: #eab43e;
    line-height: 60px;
    text-decoration: none;
}
.marker-menu {
    display: none;
}
nav {
    float: right;
}
nav ul li {
    margin-right: 15px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    font-family: "Geometria Medium", sans-serif;
    font-size: 22px;
    color: #333333;
    line-height: 60px;
}
nav ul li .active {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: none;
}
/*     the end of the header     */

/*       main page      */
.block-top {
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-top {
    width: 100%;
    height: 100%;
    background: url('../images/top-banner.jpg') no-repeat center;
    background-size: cover;
}
.block-top .block-content {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
}
.block-top .title {
    width: 50%;
    font-family: "Geometria Medium", sans-serif;
    font-size: 76px;
    color: #eab43e;
    line-height: 96px;
    text-align: left;
    text-transform: none;
}
.block-top .title-middle {
    width: 70%;
}
.block-top .title-long {
    width: 83%;
}
.block-top .text {
    font-family: "Geometria Medium", sans-serif;
    font-size: 40px;
    color: #ffffff;
    line-height: 40px;
    position: absolute;
    bottom: 25%;
    right: 2.5%;
}
.marker-scroll {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 52px;
    height: 26px;
    background: url('../images/scroll.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.marker-scroll:hover {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.our-services {
    padding: 0;
    -webkit-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
}
.our-services .block-content {
    position: relative;
}
.color-list {
    text-align: center;
    margin-top: 5%;
}
.color-list li {
    width: 250px;
    vertical-align: top;
}
.icon {
    width: 80%;
    padding-top: 76%;
    margin: 0 auto 3%;
}
.color-list li:nth-child(1) .icon-needs {background: url('../images/sprite-color.png') no-repeat -0.25% center;background-size: cover;}
.color-list li:nth-child(2) .icon-needs {background: url('../images/sprite-color.png') no-repeat 8.25% center;background-size: cover;}
.color-list li:nth-child(3) .icon-needs {background: url('../images/sprite-color.png') no-repeat 17% center;background-size: cover;}
.color-list li:nth-child(4) .icon-needs {background: url('../images/sprite-color.png') no-repeat 26% center;background-size: cover;}
.color-list li .text {
    font-size: 24px;
}
.image-girl {
    width: 50%;
    padding-top: 65%;
    position: absolute;
    bottom: 0;
    left: -10%;
    background: url('../images/girl.jpg') no-repeat;
    background-size: cover;
    z-index: -1;
}
.services-accordion {
    margin-top: 15%;
    text-align: right;
    height: 600px;
}
.services-accordion li {
    position: relative;
    width: 75%;
    text-align: left;
    margin-bottom: 35px;
    z-index: 1;
}
.services-accordion li:nth-child(2) {width: 67.5%;}
.services-accordion li:nth-child(3) {width: 60%;}
.services-accordion .item-header .text {
    display: inline-block;
    font-size: 40px;
    color: #eab43e;
    line-height: 40px;
    cursor: pointer;
    width: 90%;
    vertical-align: top;
}
.item-header .marker-accordion {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    cursor: pointer;
    margin-right: 10px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    background: url('../images/marker-accordion.png') no-repeat center;
    background-size: cover;
}
.active .marker-accordion {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.services-accordion .item-content {
    display: none;
    padding-left: 6%;
    font-size: 22px;
    margin-top: 20px;
}

.for-whom ul {
    text-align: center;
    margin-top: 5%;
}
.for-whom ul li {
    width: 500px;
    margin: 5% 2% 0;
    vertical-align: top;
}
.for-whom ul li:nth-child(1), .for-whom ul li:nth-child(2) {
    margin-top: 0;
}
.icon-for-whom {
    width: 50%;
    padding-top: 40%;
    margin: 0 auto;
}
.for-whom ul li:nth-child(1) .icon-for-whom {background: url('../images/sprite-black&white.png') no-repeat -0.7% center;background-size: cover;}
.for-whom ul li:nth-child(2) .icon-for-whom {background: url('../images/sprite-black&white.png') no-repeat 33.5% center;background-size: cover;}
.for-whom ul li:nth-child(3) .icon-for-whom {background: url('../images/sprite-black&white.png') no-repeat 8.75% center;background-size: cover;}
.for-whom ul li:nth-child(4) .icon-for-whom {background: url('../images/sprite-black&white.png') no-repeat 25.5% center;background-size: cover;}
.for-whom .text {
    width: 95%;
    font-size: 32px;
    line-height: 32px;
    margin: 2.5% auto 0;
}
.blue-block {
    background: #06406e;
}
.blue-block .text {
    color: #ffffff;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
}

.selling-info {
    padding: 0;
    -webkit-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5), inset 0 5px 8px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5), inset 0 5px 8px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5), inset 0 5px 8px -3px rgba(0,0,0,0.5);
    overflow-x: hidden;
}
.selling-info .block-content {
    position: relative;
    padding: 5% 0;
}
.selling-info .text, .selling-info .selected-text {
    font-size: 24px;
    width: 45%;
    position: relative;
    z-index: 1;
    line-height: 36px;
    text-align: justify;
    text-indent: 3%;
}
.selling-info .selected-text {
    font-family: "Geometria Medium Italic", sans-serif;
    margin-top: 10px;
}
.image-poor-man {
    position: absolute;
    bottom: 0;
    right: -20%;
    width: 72%;
    height: 100%;
    background: url('../images/poor-man.jpg');
    background-size: cover;
    z-index: -1;
}

.form-wrap {
    padding: 5% 0;
}
.get-offer, .get-detail {
    background: url('../images/background-form.jpg') no-repeat center;
    background-size: cover;
}
.form-wrap .title {
    font-family: "Geometria Bold", sans-serif;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    text-transform: none;
}
.form-wrap form {
    width: 500px;
    margin: 4% auto 0;
    text-align: right;
}
.form-field-wrap {
    display: block;
    width: 100%;
    margin: 3% 0;
}
.form-field {
    width: 100%;
    font-size: 24px;
    padding: 2% 0 2% 5%;
    background: transparent;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
}
.form-field, .form-field:hover, .form-field:active, .form-field:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-field::-webkit-input-placeholder {font-family: "Geometria Light", sans-serif;color: transparent;font-size: 24px;}
.form-field::-moz-placeholder {font-family: "Geometria Light", sans-serif;color: transparent;font-size: 24px;}
.form-field:-moz-placeholder {font-family: "Geometria Light", sans-serif;color: transparent;font-size: 24px;}
.form-field:-ms-input-placeholder {font-family: "Geometria Light", sans-serif;color: transparent;font-size: 24px;}
.form-field:hover::-webkit-input-placeholder {color: #ffffff;}
.form-field:hover::-moz-placeholder {color: #ffffff;}
.form-field:hover:-moz-placeholder {color: #ffffff;}
.form-field:hover:-ms-input-placeholder {color: #ffffff;}
.form-field:focus::-webkit-input-placeholder {color: transparent}
.form-field:focus::-moz-placeholder {color: transparent}
.form-field:focus:-moz-placeholder {color: transparent}
.form-field:focus:-ms-input-placeholder {color: transparent}
.form-submit {
    font-size: 24px;
    padding: 2% 5%;
    background: transparent;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}
.form-submit:hover {
    color: #333333;
    background: rgba(255, 255, 255, 0.5);
}
.form-submit:active {
    color: #333333;
    background: rgba(255, 255, 255, 0.75);
    outline: none;
}
/*     the end of the main page    */

/*    contacts page    */
.contacts ul li {
    display: block;
    margin-top: 5%;
}
.icon-contacts {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background: url('../images/sprite-black&white.png') no-repeat 60.75% center;
    background-size: cover;
    margin-right: 1%;
}
.contacts ul li:nth-child(2) .icon-contacts {background: url('../images/sprite-black&white.png') no-repeat 93.65% center; background-size: cover;}
.contacts ul li:nth-child(3) .icon-contacts {background: url('../images/sprite-black&white.png') no-repeat 101.25% center; background-size: cover;}
.contacts .text {
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    vertical-align: middle;
}
/*  the end of the contacts page   */

/*    about-fbs page    */
.color-list li:nth-child(1) .icon-fbs {background: url('../images/sprite-color.png') no-repeat 35.4% center;background-size: cover;}
.color-list li:nth-child(2) .icon-fbs {background: url('../images/sprite-color.png') no-repeat 44.25% center;background-size: cover;}
.color-list li:nth-child(3) .icon-fbs {background: url('../images/sprite-color.png') no-repeat 17% center;background-size: cover;}
.color-list li:nth-child(4) .icon-fbs {background: url('../images/sprite-color.png') no-repeat 63.1% center;background-size: cover;}
.crisis .title {
    font-family: "Geometria Medium", sans-serif;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}
.crisis ul {
    margin-top: 5%;
}
.crisis .icon-ok {
    background: url('../images/sprite-ok.png') no-repeat right center;
    background-size: cover;
    vertical-align: middle;
    bottom: 0;
}
.crisis ul li {
    width: 100%;
    margin-bottom: 2.5%;
}
.crisis ul li .text {
    display: inline-block;
    width: 90%;
    font-size: 30px;
    color: #ffffff;
    vertical-align: middle;
}
.crisis .block-content>.text {
    font-family: "Geometria Medium Italic", sans-serif;
    font-size: 44px;
    color: #ffffff;
    text-align: center;
    margin-top: 2.5%;
}
.partners ul {
    margin-top: 7.5%;
    width: 100%;
}
.partners ul li {
    width: 100%;
    margin-bottom: 2.5%;
}
.partners .text {
    width: 70%;
    margin-left: 4%;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}
.partners .logo-partner {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}
.partners .logo-pr {
    padding-top: 7.125%;
    background: url('../images/logo-pr.png') no-repeat right center;
    background-size: cover;
}
.partners .logo-sa {
    padding-top: 8.19%;
    background: url('../images/logo-sa.png') no-repeat right center;
    background-size: cover;
}
/*  the end of the about-fbs page   */

/*    training page    */

.icon-training {
    width: 80%;
    height: 190px;
    margin: 0 auto 3%;
}
.color-list li:nth-child(1) .icon-training {background: url('../images/sprite-color.png') no-repeat 73.25% center;background-size: cover;}
.color-list li:nth-child(2) .icon-training {background: url('../images/sprite-color.png') no-repeat 82.5% center;background-size: cover;}
.color-list li:nth-child(3) .icon-training {background: url('../images/sprite-color.png') no-repeat 53.15% center;background-size: cover;}
.color-list li:nth-child(4) .icon-training {background: url('../images/sprite-color.png') no-repeat 99.55% center;background-size: cover;}
.you-will-get {
    padding: 0;
    -webkit-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
}
.you-will-get .block-content {
    position: relative;
    padding: 5% 0;
}
.image-man-with-board {
    position: absolute;
    left: -15%;
    bottom: 0;
    background: url('../images/man-with-board.jpg') no-repeat left bottom;
    background-size: auto 80%;
    width: 115%;
    height: 100%;
    z-index: -1;
}
.you-will-get .title, .you-will-get ul {
    position: relative;
    z-index: 1;
}
.you-will-get {
    text-align: right;
}
.you-will-get ul {
    display: inline-block;
    margin: 20% 0 10%;
    width: 75%;
    text-align: left;
}
.you-will-get ul li {
    display: block;
    margin-top: 2%;
}
.icon-ok {
    position: relative;
    display: inline-block;
    width: 37px;
    padding-top: 30px;
    vertical-align: top;
    background: url('../images/sprite-ok.png') no-repeat left center;
    background-size: cover;
    bottom: -8px;
    margin-right: 1%;
}
.you-will-get .text {
    display: inline-block;
    font-size: 36px;
    line-height: 44px;
    vertical-align: top;
    color: #eab43e;
    width: 85%;
}
.quote .text {
    font-family: "Geometria Italic", sans-serif;
    font-size: 48px;
    text-align: center;
}
/*  the end of the training page   */

/*    franchise page    */

.steps ul li {
    width: 980px;
    display: block;
    margin-bottom: 15px;
}
.steps ul li:nth-child(2) {top: 75px;margin-left: 30px;}
.steps ul li:nth-child(3) {top: 150px;margin-left: 60px;}
.steps ul li:nth-child(4) {top: 225px;margin-left: 90px;}
.steps ul li:nth-child(5) {top: 300px;margin-left: 120px;}
.steps ul li:nth-child(6) {top: 375px;margin-left: 150px;}
.steps .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 32px;
    line-height: 60px;
    color: #eab43e;
    border: 2px solid #eab43e;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0;
}
.steps .text {
    display: inline-block;
    width: 900px;
    margin-left: 15px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 32px;
}
.our-services-franchise {
    padding-top: 5%;
}
.salary-size {
    padding: 0;
    -webkit-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0 -4px 8px -3px rgba(0,0,0,0.5);
    overflow-x: hidden;
}
.salary-size .block-content {
    position: relative;
    border-bottom: 1px solid transparent;
}
.image-business-women {
    width: 100%;
    height: 100%;
    background: #ffffff url('../images/business-women.jpg') no-repeat right bottom;
    background-size: auto 85%;
    position: absolute;
    top: 0;
    right: -10%;
    z-index: -1;
}
.salary-size .sub-title {
    margin: 5% 0 2.5% 15%;
    font-size: 40px;
    text-decoration: underline;
    font-weight: 100;
}
.salary-size .text-1 {
    width: 60%;
    font-size: 30px;
    margin-bottom: 2.5%;
}
.salary-size .mark {
    font-size: 40px;
    color: #29464a;
}
.salary-size ul {
    width: 60%;
}
.salary-size ul li {
    display: block;
    font-size: 24px;
}
.salary-size .text-2 {
    width: 60%;
    font-size: 38px;
    color: #eab43e;
    margin:  4% 0 2.5%;
}
.salary-size .text-3 {
    width: 60%;
    font-size: 24px;
    margin-bottom: 5%;
}
.how-your-business ul {
    text-align: center;
    margin-top: 5%;
}
.how-your-business ul li {
    width: 342px;
    margin: 0 1%;
    vertical-align: top;
}
.how-your-business ul li:nth-child(1), .how-your-business ul li:nth-child(2) {
    margin-top: 0;
}
.icon-business {
    width: 100%;
    padding-top: 73%;
    margin: 0 auto;
}
.how-your-business ul li:nth-child(1) .icon-business {background: url('../images/sprite-black&white.png') no-repeat 52% center;background-size: cover;}
.how-your-business ul li:nth-child(2) .icon-business {background: url('../images/sprite-black&white.png') no-repeat 42.5% center;background-size: cover;}
.how-your-business ul li:nth-child(3) .icon-business {background: url('../images/sprite-black&white.png') no-repeat 17.25% center;background-size: cover;}
.how-your-business .text {
    width: 95%;
    font-size: 22px;
    line-height: 26px;
    margin: 2.5% auto 0;
}
.start-cost, .introduction-cost {
    padding: 2.5% 0;
    text-align: center;
}
.start-cost .title {
    color: #ffffff;
}
.business-packages {
    margin: 2.5% 0;
}
.start-cost .business-packages>li {
    width: 320px;
    height: 585px;
    margin: 2.5% 1% ;
    border: 2px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
    position: relative;
}
.start-cost .sub-title {
    border-bottom: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0.4);
    padding: 15px 0;
    font-size: 24px;
    color: #ffe598;
}
.start-cost .business-packages .sub-title span {
    font-size: 24px;
    color: #ffe598;
    text-decoration: underline;
}
.start-cost .business-packages li ul li {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    width: 75%;
    margin: 15px auto 0;
}
.start-cost .business-packages li ul li:before {
    content: "-  ";
    margin-left: -15px;
}
.start-cost .text {
    width: 100%;
    font-family: "Geometria Bold", sans-serif;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 20px;
}
.introduction-cost .title {
    text-transform: none;
    line-height: 60px;
}
.introduction-cost .business-packages>li {
    width: 320px;
    margin: 2.5% 1% ;
    border: 2px solid #eab43e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
}
.introduction-cost .package-name {
    font-size: 32px;
    line-height: 28px;
    color: #eab43e;
    padding: 15px 0;
}
.introduction-cost .text, .introduction-cost .cost-value {
    display: inline-block;
    font-size: 28px;
    padding-bottom: 10px;
}
.introduction-cost table {
    width: 100%;
    font-size: 16px;
    text-align: left;
}
.introduction-cost table td {
    padding: 0 5%;
    vertical-align: middle;
    height: 50px;
}
.introduction-cost table tr:nth-child(1),
.introduction-cost table tr:nth-child(5),
.introduction-cost table tr:nth-child(9) {
    background: #fff9ed;
}
.introduction-cost table tr:nth-child(3),
.introduction-cost table tr:nth-child(7),
.introduction-cost table tr:nth-child(11) {
    background: #ecfdff;
}
.easy-with-us {
    padding-top:  0;
    text-align: center;
}
.easy-with-us ul {
    margin-top: 5%;
}
.easy-with-us ul li {
    width: 180px;
    vertical-align: top;
}
.easy-with-us .icon-arrow {
    width: 50px;
    height: 50px;
    background: url('../images/sprite-arrows.png') no-repeat left center;
    background-size: cover;
    margin-top: 35px;
}
.easy-with-us .icon-step {
    width: 100%;
    padding-top: 120px;
}
.easy-with-us ul li:nth-child(1) .icon-step {background: url('../images/sprite-black&white.png') no-repeat 61% center;background-size: cover;}
.easy-with-us ul li:nth-child(3) .icon-step {background: url('../images/sprite-black&white.png') no-repeat 42.5% center;background-size: cover;}
.easy-with-us ul li:nth-child(5) .icon-step {background: url('../images/sprite-black&white.png') no-repeat 68.5% center;background-size: cover;}
.easy-with-us ul li:nth-child(7) .icon-step {margin:auto;width:80%;background: url('../images/sprite-black&white.png') no-repeat 75.5% center;background-size: cover;}
.easy-with-us ul li:nth-child(9) .icon-step {background: url('../images/sprite-black&white.png') no-repeat 85% center;background-size: cover;}
.easy-with-us .text {
    margin-top: 20px;
    font-size: 20px;
}
.our-tasks {
    text-align: center;
}
.our-tasks ul {
    margin-top: 2.5%;
}
.our-tasks ul li {
    width: 350px;
    vertical-align: top;
    margin: 0 10px;
}
.our-tasks .text {
    font-size: 24px;
}
.our-tasks ul li:nth-child(1) .icon-business {background: url('../images/sprite-color.png') no-repeat 25.5% center;background-size: cover;}
.our-tasks ul li:nth-child(2) .icon-business {background: url('../images/sprite-color.png') no-repeat 63.5% center;background-size: cover;}
.our-tasks ul li:nth-child(3) .icon-business {background: url('../images/sprite-color.png') no-repeat 91.5% center;background-size: cover;}

.your-questions {
    padding-top: 0;
}
.questions-accordion {
    margin-top: 5%;
    text-align: right;
}
.questions-accordion li {
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 35px;
    z-index: 1;
}
.questions-accordion .item-header .text {
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    cursor: pointer;
    width: 90%;
    vertical-align: middle;
}
.questions-accordion .item-header .marker-accordion {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.questions-accordion .item-content {
    display: none;
    padding-left: 6%;
    font-size: 22px;
    margin-top: 20px;
}
/*  the end of the franchise page   */

/*    footer    */
.footer {
    padding: 2.5% 0 0;
    text-align: center;
}
.footer ul {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: left;
    margin-bottom: 5%;
}
.footer ul li {
    margin: 1% 0;
}
.footer ul li, .footer ul li a {
    display: block;
    font-family: "Geometria Medium", sans-serif;
    font-size: 24px;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}
.copyrights {
    width: 100%;
    font-family: "Geometria Medium", sans-serif;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5%;
}
/*    the end of the footer    */

/*    media-queries    */
@media (max-width: 1366px) {
    .block-top .title-long {
        line-height: 80px;
    }
}

@media (max-width: 1180px) {
    .block-top .title {
        font-size: 52px;
        line-height: 64px;
    }
    .block-top .text {
        font-size: 36px;
        line-height: 36px;
    }
    .title {
        font-size: 50px;
        line-height: 50px;
    }
    .form-field::-webkit-input-placeholder {color: #ffffff;}
    .form-field::-moz-placeholder {color: #ffffff;}
    .form-field:-moz-placeholder {color: #ffffff;}
    .form-field:-ms-input-placeholder {color: #ffffff;}
    .steps ul li {
        width: 100%;
        margin-left: 0!important;
    }
    .steps .icon {
        width: 50px;
        height: 50px;
        font-size: 26px;
        line-height: 50px;
    }
    .steps .text {
        width: 90%;
        margin-left: 15px;
        font-size: 26px;
        line-height: 28px;
    }
    .blue-block .text {
        font-size: 32px;
        line-height: 36px;
    }
    .services-accordion {
        margin-top: 5%;
        height: 550px;
    }
    .services-accordion li {
        width: 60%!important;
    }
    .services-accordion .item-header .text {
        font-size: 32px;
        line-height: 36px;
        width: 85%;
    }
    .item-header .marker-accordion {
        width: 35px;
        height: 35px;
    }
    .services-accordion .item-content {
        font-size: 20px;
    }
    .for-whom ul li {
        width: 350px;
        margin: 5% 0.5% 0;
    }
    .for-whom .text {
        font-size: 26px;
        line-height: 26px;
    }
    .salary-size .sub-title {
        font-size: 32px;
    }
    .salary-size .text-1 {
        font-size: 24px;
    }
    .salary-size .mark {
        font-size: 40px;
        color: #29464a;
    }
    .salary-size ul li, .salary-size .text-3 {
        font-size: 20px;
    }
    .salary-size .text-2 {
        font-size: 32px;
    }
    .selling-info .text, .selling-info .selected-text {
        font-size: 20px;
    }
    .you-will-get .text {
        font-size: 24px;
        line-height: 28px;
    }
    .icon-ok {
        bottom: 0;
    }
}

@media (max-width: 860px) {
    .image-business-women {
        display: none;
    }
    .salary-size .text-1, .salary-size .text-2, .salary-size .text-3, .salary-size ul  {
        width: 100%;
    }
    .salary-size .text-2  {
        font-size: 24px;
    }
    .salary-size .sub-title {
        font-size: 24px;
    }
    .image-poor-man, .image-man-with-board {display: none;}
    .selling-info .text, .selling-info .selected-text {
        width: 100%;
    }
    .you-will-get ul {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .block-top .title {
        font-size: 48px;
        line-height: 58px;
    }
    .block-top .text {
        font-size: 28px;
        line-height: 28px;
    }
    nav {
        display: none;
        width: 100%;
        margin-bottom: 20px;
    }
    nav ul {
        width: 100%;

    }
    nav ul li {
        display: block;
        height: 40px;
        margin: 0;
        text-align: center;
    }
    nav ul li a {
        font-size: 22px;
        color: #333333;
        line-height: 40px;
        text-decoration: none;
    }
    nav ul li .active {
        color: #eab43e;
    }
    .marker-menu {
        display: block;
        width: 80px;
        height: 45px;
        margin: 7px 20px;
        background: url('../images/sprite-menu.png') no-repeat left center;
        background-size: cover;
        float: right;
    }
    .marker-menu-active {
        background: url('../images/sprite-menu.png') no-repeat 120% center;
        background-size: cover;
    }
    .title, .crisis .title, .form-wrap .title {
        font-size: 36px;
        line-height: 40px;
    }
    .crisis ul li .text {
        font-size: 18px;
    }
    .crisis .block-content>.text {
        font-size: 24px;
    }
    .partners .text {
        font-size: 22px;
    }
    .footer ul {
        text-align: center;
    }
    .icon-contacts {
        width: 60px;
        height: 60px;
        margin-right: 1%;
    }
    .contacts .text {
        font-size: 26px;
        line-height: 26px;
    }
    .steps .text {
        width: 85%;
        margin-left: 15px;
        font-size: 22px;
        line-height: 24px;
    }
    .blue-block .text {
        font-size: 26px;
        line-height: 32px;
    }
    .image-girl {
        display: none;
    }
    .services-accordion {
        margin-top: 5%;
        height: auto;
    }
    .services-accordion li {
        width: 100%!important;
    }
    .services-accordion .item-header .text {
        font-size: 22px;
        line-height: 30px;
    }
    .item-header .marker-accordion {
        width: 25px;
        height: 25px;
    }
    .services-accordion .item-content {
        font-size: 18px;
        margin-top: 10px;
    }
    .for-whom ul li {
        margin: 5% 0.5%;
    }
    .easy-with-us ul li {
        display: block;
        margin: 10px auto;
    }
    .easy-with-us .icon-arrow {
        background: url('../images/sprite-arrows.png') no-repeat right center;
        background-size: cover;
    }
    .if-you, .our-services, .for-whom {
        padding: 30px 0;
    }
}

@media (max-width: 540px) {
    .block-top .title {
        width: 100%;
        font-size: 32px;
        line-height: 40px;
    }
    .form-wrap .title {
        font-size: 32px;
    }
    .block-top .text {
        font-size: 20px;
        line-height: 20px;
    }
    .icon-ok {
        width: 25px;
        padding-top: 18px;
    }
    .partners .logo-pr {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding-top: 14.25%;
    }
    .partners .logo-sa {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding-top: 16.38%;
    }
    .partners .text {
        width: 100%;
        text-align: center;
        margin: 10px 0 30px;
    }
    .form-wrap form {
        width: 300px;
    }
    .form-field {
        font-size: 18px;
        padding: 2% 0 2% 5%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .form-submit {
        font-size: 18px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .form-field::-webkit-input-placeholder {font-size: 18px;}
    .form-field::-moz-placeholder {font-size: 18px;}
    .form-field:-moz-placeholder {font-size: 18px;}
    .form-field:-ms-input-placeholder {font-size: 18px;}
    .footer ul li, .footer ul li a, .copyrights {
        font-size: 18px;
    }
    .icon-contacts {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    .contacts .text {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0 30px;
        font-size: 26px;
        line-height: 26px;
    }
    .steps .icon {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
    }
    .steps .text {
        width: 80%;
        margin-left: 15px;
        font-size: 18px;
        line-height: 20px;
    }
    .blue-block .text {
        font-size: 20px;
        line-height: 24px;
    }
    .services-accordion {
        margin-top: 5%;
    }
    .services-accordion .item-header .text {
        font-size: 18px;
        line-height: 22px;
    }
    .item-header .marker-accordion {
        width: 20px;
        height: 20px;
    }
    .services-accordion .item-content {
        font-size: 16px;
    }
    .for-whom .text {
        font-size: 20px;
        line-height: 22px;
    }
    .salary-size {
        padding: 25px 0;
        box-shadow: none;
    }
    .salary-size .sub-title {
        margin-left: 0;
    }
    .salary-size .text-1, .salary-size .text-2, .salary-size .text-3, .salary-size ul li {
        font-size: 20px;
    }
    .how-your-business ul li {
        width: 300px;
        margin-bottom: 50px;
    }
    .our-tasks ul li {
        width: 300px;
        margin: 30px auto;
    }
    .our-tasks ul li .text {
        font-size: 20px;
        line-height: 22px;
    }
    .questions-accordion .item-header .text {
        width: 85%;
        font-size: 18px;
    }
    .questions-accordion .item-content {
        font-size: 16px;
    }
    .icon-ok {
        bottom: -5px;
    }
    .you-will-get .text {
        font-size: 18px;
    }
}

@media (max-width: 360px) {

    .block-top .text {
        font-size: 18px;
        line-height: 20px;
    }
    .title, .crisis .title, .form-wrap .title {
        font-size: 28px;
        line-height: 34px;
    }
    .crisis ul li .text {
        width: 85%;
        font-size: 16px;
    }
    .crisis .block-content>.text {
        font-size: 20px;
    }
    .services-accordion li {
        margin-bottom: 20px;
    }
    .for-whom ul li {
        width: 300px;
    }
    .start-cost, .introduction-cost {
        padding: 30px 0;
    }
    .start-cost .business-packages>li, .introduction-cost .business-packages>li {
        width: 300px;
    }
    .introduction-cost .title {
        line-height: 32px;
    }

}
